html {
  height: 100%;
}

body {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 1%;
  background-color: grey;
}

.all_forms {
  display: flex;
  justify-content: space-evenly;
}