html {
  height: 100%;
}

body {
  height: 100%;
}

.dashboard {
  padding: 2%;
  background-color: #dedede;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 1%;
  background-color: #dedede;
}

.all_forms {
  display: flex;
  justify-content: space-evenly;
}

label {
  margin: 2px;
}

table {
  border: 2px solid black;
  background-color: white;
}

th, tr, td {
  border: 1px solid grey;
}